# Python stdlib Modules

### [`random`](https://docs.python.org/3/library/random.html)

In [1]:
import random

In [23]:
random.randint(0, 100)

91

In [7]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [12]:
random.choice(string.ascii_letters)

'Y'

In [16]:
random.sample(string.ascii_letters, 5)

['W', 'g', 'C', 'a', 'A']

In [31]:
random.seed(100)
random.randint(0, 100)

18

### [`datetime`](https://docs.python.org/3/library/datetime.html)

In [37]:
from datetime import datetime, timedelta, date

**Regular datetime objects**

In [33]:
d = datetime(2018, 1, 1, 20, 50, 13)
d

datetime.datetime(2018, 1, 1, 20, 50, 13)

In [34]:
d.isoformat()

'2018-01-01T20:50:13'

In [35]:
d.year

2018

In [36]:
d.date()

datetime.date(2018, 1, 1)

**Time deltas**

In [45]:
d = datetime(2018, 1, 1)
d

datetime.datetime(2018, 1, 1, 0, 0)

In [42]:
(d + timedelta(minutes=-2)).isoformat()

'2018-01-01T20:48:13'

In [41]:
d + timedelta(days=50)

datetime.datetime(2018, 2, 20, 20, 50, 13)

In [48]:
td = datetime.now() - d
td

datetime.timedelta(50, 55697, 393752)

In [52]:
td.total_seconds()

4375697.393752

**strftime() and strptime()** ([docs](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior))

In [53]:
d

datetime.datetime(2018, 1, 1, 0, 0)

In [54]:
# Jan 1st, 2018
# 1st of Jan, 2018
d.strftime('%A %B %d, %Y')

'Monday January 01, 2018'

In [61]:
# Jan 1st, 2018
# 1st of Jan, 2018
d.strftime('%b %d, %Y')

'Jan 01, 2018'

### [`collections`](https://docs.python.org/3/library/collections.html)

**Named tuples**

In [62]:
from collections import namedtuple

In [ ]:
user = (1, 35, 2017, 2018, 'Mary', 'Smith', 'mary@example.com')

In [63]:
User = namedtuple('User', ['id', 'age', 'created', 'updated', 'fname', 'lname', 'email'])

In [64]:
user = User(id=1, age=35, created=2017,
            updated=2018, fname='Mary', lname='Smith',
            email='mary@example.com')

In [65]:
user

User(id=1, age=35, created=2017, updated=2018, fname='Mary', lname='Smith', email='mary@example.com')

In [66]:
user.email

'mary@example.com'

In [67]:
user[-1]

'mary@example.com'

In [68]:
user.email = 'doesnotwork@gmail.com'

AttributeError: can't set attribute

**Ordered Dict**

In [69]:
from collections import OrderedDict

In [70]:
d = OrderedDict()

In [71]:
d['John'] = 9
d['Mary'] = 2
d['Anne'] = 3

In [72]:
d

OrderedDict([('John', 9), ('Mary', 2), ('Anne', 3)])

In [74]:
'John' in d

True